@include font-face("SuisseIntl-Regular-WebS", "../fonts/SuisseIntl-Regular-WebS", normal, $file-formats: svg ttf eot woff2 woff);
@include font-face("SuisseIntl-SemiBold-WebS", "../fonts/SuisseIntl-SemiBold-WebS", normal, $file-formats: svg ttf eot woff2 woff);
@include font-face("SangBleuKing", "../fonts/SangBleuKing", normal, $file-formats: svg ttf eot woff);

$base-font: "SuisseIntl-Regular-WebS", "Helvetica Neue", Helvetica, Arial, sans-serif;
$bold-font: "SuisseIntl-SemiBold-WebS", "Helvetica Neue Bold", 'Helvetica Bold', 'Arial Bold', sans-serif;

$heading-font: "SangBleuKing", "Times New Roman", Georgia, serif;