.navbar-collapse {
  text-align: center !important;
}
.navbar-nav {
  float: none !important;
  li {
    padding: 10px 15px;
    float: none !important;
    display: inline-block;
  }
  a{
    color: #fff;
    padding: 0 !important;
    border-bottom: 1px solid transparent;


    &:hover {
      background-color: transparent !important;
      border-bottom: 1px solid #fff;
    }
    &:focus {
      background-color: transparent !important;
      border-bottom: 1px solid #fff;
    }
  }
}
